[submodule "admin/tool/webanalytics"]
    autoupdate = merge
    path = admin/tool/webanalytics
    url = git@github.com:catalyst/moodle-tool_webanalytics.git
    branch = master
[submodule "auth/catalyst"]
    autoupdate = merge
    path = auth/catalyst
    url = git@git.catalyst-au.net:elearning/mdl-auth_catalyst.git
    branch = STABLE_33
[submodule "auth/outage"]
    autoupdate = merge
    path = auth/outage
    url = git@github.com:catalyst/moodle-auth_outage.git
    branch = master
[submodule "lib/editor/atto/plugins/htmlplus"]
    autoupdate = merge
    path = lib/editor/atto/plugins/htmlplus
    url = git@github.com:andrewnicols/moodle-atto_htmlplus.git
    branch = master
[submodule "lib/editor/atto/plugins/preview"]
    path = lib/editor/atto/plugins/preview
    url = git@github.com:dthies/moodle-atto_preview.git
    branch = master
[submodule "local/aws"]
    autoupdate = merge
    path = local/aws
    url = https://github.com/catalyst/moodle-local_aws
    branch = master
[submodule "local/boostnavigation"]
    path = local/boostnavigation
    url = git@github.com:moodleuulm/moodle-local_boostnavigation.git
    branch = master
[submodule "local/datacleaner"]
    autoupdate = merge
    path = local/datacleaner
    url = git@github.com:catalyst/moodle-local_datacleaner.git
    branch = master
[submodule "local/envbar"]
    autoupdate = merge
    path = local/envbar
    url = git@github.com:catalyst/moodle-local_envbar.git
    branch = master
[submodule "report/benchmark"]
    autoupdate = merge
    path = report/benchmark
    url = git@github.com:mikasmart/benchmark.git
    branch = master
[submodule "search/engine/elastic"]
    autoupdate = merge
    path = search/engine/elastic
    url = git@github.com:catalyst/moodle-search_elastic.git
    branch = master
[submodule "admin/tool/heartbeat"]
    autoupdate = merge
    path = admin/tool/heartbeat
    url = git@github.com:catalyst/moodle-tool_heartbeat.git
    branch = master
[submodule "admin/tool/objectfs"]
    autoupdate = merge
    path = admin/tool/objectfs
    url = git@github.com:catalyst/moodle-tool_objectfs.git
    branch = master
[submodule "files/converter/librelambda"]
	autoupdate = merge
  branch = master
  path = files/converter/librelambda
	url = git@github.com:catalyst/moodle-fileconverter_librelambda.git
