[submodule "admin/tool/webanalytics"]
        autoupdate = merge
        path = admin/tool/webanalytics
        url = git@github.com:catalyst/moodle-tool_webanalytics.git
        branch = master
[submodule "auth/catalyst"]
	autoupdate = merge
	path = auth/catalyst
	url = git@git.catalyst-au.net:elearning/mdl-auth_catalyst.git
	branch = master
[submodule "lib/editor/atto/plugins/preview"]
	path = lib/editor/atto/plugins/preview
	url = git@github.com:dthies/moodle-atto_preview.git
	branch = master
[submodule "local/aws"]
        autoupdate = merge
        path = local/aws
        url = https://github.com/catalyst/moodle-local_aws
        branch = master
[submodule "local/datacleaner"]
	autoupdate = merge
	path = local/datacleaner
	url = git@github.com:catalyst/moodle-local_datacleaner.git
	branch = master
[submodule "local/envbar"]
	autoupdate = merge
	path = local/envbar
	url = git@github.com:CatalystIT-AU/moodle-local_envbar.git
	branch = master
[submodule "report/benchmark"]
	path = report/benchmark
	url = git@github.com:mikasmart/benchmark.git
	branch = master
[submodule "admin/tool/heartbeat"]
	autoupdate = merge
	path = admin/tool/heartbeat
	url = git@github.com:catalyst/moodle-tool_heartbeat.git
	branch = master
[submodule "admin/tool/objectfs"]
	path = admin/tool/objectfs
	url = git@github.com:catalyst/moodle-tool_objectfs.git
	branch = master
